<div class="container">
  <div class="question">

    <h1>Question?</h1>
    <p>Ask your coach a question... if you dare</p>
    <form action="/answer" type="get">
      <input type="text" name="question">
      <input type="submit" value="Ask!">
    </form>
  </div>
</div>
