// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  text-align: center;
  margin: 70px 10px;
  background-color: #73c1c6;
  height: 70vh;
  border-radius: 1px;
  color: #b57ba6;
}
.question {
  display:inline-block;
}
